auth_url            = "https://openstack.example.com:5000/v3"
project_name        = "smartcito"
username            = "smartcito-admin"
password            = "change-me"
region              = "RegionOne"
external_network_id = "public-network-id"
image_name          = "smartcito-os-ubuntu-22.04-2026.05"
key_pair            = "smartcito-keypair"

public_subnet_cidr   = "172.20.10.0/24"
services_subnet_cidr = "172.20.20.0/24"
database_subnet_cidr = "172.20.30.0/24"

api_flavor_name      = "m1.medium"
service_flavor_name  = "m1.large"
database_flavor_name = "m1.xlarge"
kubernetes_control_plane_flavor_name = "m1.large"
kubernetes_worker_flavor_name        = "m1.large"
kafka_broker_flavor_name             = "m1.large"
spark_master_flavor_name             = "m1.large"
spark_worker_flavor_name             = "m1.xlarge"
postgres_primary_flavor_name         = "m1.xlarge"
postgres_replica_flavor_name         = "m1.large"
hdfs_namenode_flavor_name            = "m1.large"
hdfs_datanode_flavor_name            = "m1.xlarge"
hbase_master_flavor_name             = "m1.large"
hbase_regionserver_flavor_name       = "m1.xlarge"
zookeeper_flavor_name                = "m1.medium"

service_node_count  = 2
database_node_count = 1
kubernetes_worker_count = 3
kafka_broker_count     = 3
spark_worker_count     = 2
postgres_replica_count = 1
hdfs_namenode_count    = 2
hdfs_datanode_count    = 3
hbase_regionserver_count = 3
zookeeper_node_count   = 3

database_volume_size_gb       = 100
object_storage_volume_size_gb = 250
logs_volume_size_gb           = 150
kafka_log_volume_size_gb      = 250
spark_checkpoint_volume_size_gb = 150
postgres_data_volume_size_gb    = 200
postgres_wal_volume_size_gb     = 100
postgres_replica_volume_size_gb = 150
hdfs_namenode_volume_size_gb    = 200
hdfs_datanode_volume_size_gb    = 500